*.venv
.venv

*.xlsx

.~lock**

prueba

*.png
script_data.csv
country_incidents_summary.csv

tp2/**/*.csv
tp2/data/*.csv
tp2/data/**/*.cpg
tp2/data/**/*.dbf
tp2/data/**/*.prj
tp2/data/**/*.shp
tp2/data/**/*.shx
